.hidden{
    display: none;
}
@media screen and (max-width: 480px) {
    .head-bg , .second-section {
         
     
    padding: 0 16px;
    padding-bottom: 10px;
    
    }
    .nav-bar, .re{
        display: none;
    }
    .sign{
         display: none;
    }
    /* hero section*/
    .hero-section{
        flex-direction: column;
    }
    .hero-btn-div{
        display: flex;
    }
    .hero-color{
        font-size: 2rem;
        width: 100%;
    }
   .hero-btn-div{
    padding-top: 2rem;
   }
   .hero-btn , .hero-btn2{
    padding: 1rem 1rem;
    margin-bottom:3.75rem ;
    
    
  }
    /* about section*/

    .second-section {
        flex-direction: column;
    }
    .hero-color-1{
        text-align: center;
        font-size: 1.5rem;
        width: 90%;
    }
    .icon-2{
        display: none;
    }
    .second-section {
        margin-top: 7.5rem;
    }

}