@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:  "Open Sans", sans-serif;
}
.first-div{
 max-width: 1200px;
  margin: 0 auto;
  
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  
}
.nv-ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    
}
.a{
    text-decoration: none;
    color: #000D83;
}
.as{
    text-decoration: none;
   padding-top: 0.8rem;  
}

#unic{
    border: 1px solid;
    padding:0.8rem 2rem;
    border-radius: 1rem;
    
}
.head-bg{
    background-color: #E7EFFF;
}
.hero-container{
    max-width: 1200px;
    margin: 0 auto;
  padding: 0 20px;
}
.hero-section{
    display: flex;
    padding-top: 7rem;
    justify-content:space-between ;
}
.hero-color{
    font-weight: bold;
    font-size: 2.5rem;
    max-width: 560px;
    color: #000D83;
}
.hero-pra{
    max-width: 514px;
    color:#040931 ;
}
.hero-btn{
    padding: 1rem 2rem;
    border-radius:0.8rem ;
    
}
.hero-btn2{
     padding: 1rem 2rem;
    border-radius:0.8rem ;
    margin-left: 1.8rem;
}
.hero-btn-div{
    padding-top: 2.8rem;
    
}
.hero-img{
    padding-bottom: 4rem ;
}
.re{
    
   margin-top: -7rem;
   padding-bottom:5.6rem ;
   display: flex;
}
.second-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 11.25rem;
    justify-content: space-between;
    
}
.hero-color-1{
    
    font-weight: bold;
    font-size: 2.5rem;
    max-width:26.25rem;
    color: #000D83;

}

.card{
    display: flex;
   box-shadow: 0.1rem 0.1rem rgb(240, 235, 235);
  margin: 2rem;
  border-radius: 1rem;
  padding:0 1rem ;
}
.icon-1{
    margin-top: 1rem;
    margin-right: 0.5rem;
}
.icon-2{
    margin-left: 6.75rem;
}
.c-1{
    max-width: 26.25rem;
}
.btn{
    padding: 1rem 2rem;
    border-radius: 0.8rem;
}
.center{
    text-align: center;
}
.s-center{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    color: #000D83;
}
.study-section{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 11.25rem;
}
.card-study{
    padding: 1rem;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     border-radius:1.8rem ;
}
                
.study-flex{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap:1.5rem ;
}
.last-section{
    height: 26.875rem;
     background-image: url("../images/news-letter.png");
     background-repeat: no-repeat;
     background-size: cover;
     margin-top: 11.25rem;
     margin: 0 auto;
     
    
}
