@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:  "Open Sans", sans-serif;
}
.first-div{
 max-width: 1200px;
  margin: 0 auto;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  
}
header{
    position: sticky;
    top: 0;
    padding-bottom:1.875rem ;
}
.nv-ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    
}
.a:hover{
    color: #bbc9e6;
}
.a{
    text-decoration: none;
    color: #000D83;
}
.as{
    text-decoration: none;
   padding-top: 0.8rem;  
   
    padding:0.8rem 2rem;
    border-radius: 1rem;
    margin-right: 1rem;
   transition: background-color 0.3s ease, color 0.3s ease ,border 0.3s ;
}
.as:hover{
     background-color: #000D83;
    color: #F1F6FF;
    border: 1px solid;
}

.avater-flex{
    display: flex;
    padding-right: 1rem;
}
.position{
    position: relative;
    margin-left: -1rem;
}
.text{
    width: 48px;
    height: 48px;
    background-color: black;
    border-radius: 50%;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-bg{
    background-color: #E7EFFF;
}
.hero-container{
    background-color: #E7EFFF;
}
.hero-section{
    display: flex;
    padding-top: 7rem;
    justify-content:space-between ;
    
}
.hero-section-color{
    
    max-width: 1200px;
    margin: 0 auto;
  padding: 0 20px;
}
.hero-color{
    font-weight: bold;
    font-size: 2.5rem;
    max-width: 560px;
    color: #000D83;
}
.hero-pra{
    max-width: 514px;
    color:#040931 ;
}
.hero-btn{
    padding: 1rem 2rem;
    border-radius:0.8rem ;
    
}
.hero-btn2{
     padding: 1rem 2rem;
    border-radius:0.8rem ;
    margin-left: 1.8rem;
}
.hero-btn-div{
    padding-top: 2.8rem;
    
}
.hero-img{
    padding-bottom: 4rem ;
}
.re{
    
   margin-top: -7rem;
   padding-bottom:5.6rem ;
   display: flex;
}
.second-section{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-top: 11.25rem;
    justify-content: space-between;
    
}
.hero-color-1{
    
    font-weight: bold;
    font-size: 2.5rem;
    max-width:26.25rem;
    color: #000D83;

}

.card{
    display: flex;
   box-shadow: 0.1rem 0.1rem rgb(240, 235, 235);
  margin: 2rem;
  border-radius: 1rem;
  padding:0 1rem ;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
}
.icon-1{
    margin-top: 1rem;
    margin-right: 0.5rem;
}
.icon-2{
    margin-left: 6.75rem;
}
.c-1{
    max-width: 26.25rem;
}
.btn{
    padding: 1rem 2rem;
    border-radius: 0.8rem;
}
.center{
    text-align: center;
    color: #FFF;
}
.s-center{
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    color: #000D83;
}
.study-section{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 11.25rem;
    margin-bottom: 11.25rem;
}
.card-study{
    padding: 1rem;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     border-radius:1.8rem ;
     transition: all 0.3s ease;
     cursor: pointer;
}
.card-study:hover{
    transform: translateY(-5px);
}
                
.study-flex{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap:1.5rem ;
}
.last-section{
    
     max-width: 1200px;
     margin: 0 auto;
     
    
}

.bg-img{
    position: relative;
    height: 450px;
     background-image: url("../images/news-letter.png");
     background-position: center;
     background-size: cover;
     border-radius: 1rem;
}
.overlay{
    background-color: #000D83d7;
   
    display: flex;
    
    justify-content: center;
    align-items: center;
     position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 1rem;
    
}
.bg-color{
   
    background-color:#F1F6FF ;
    
    


}
.under{
    align-items: center;
    
}
.footer-grid{
     display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 1200px;
    margin: 0  auto;
    margin-top: 11.25rem;
    padding-top:4.5rem ;
}
.footerflex{
    display: flex;
    justify-content: space-around;
}
.btn-newsletter{
    text-align: center;
   
    
}
.btn-newsletter > button {
    padding: 1rem 2rem;
    border-radius:0.75rem ;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-newsletter > button:hover{
    background-color: #4AC7FF;
}
.footer-pra{
    padding-right: 8.4375rem ;
}